<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Hub - <%= country.name %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:3000/images/favicon.ico">
</head>
<body>
    <!-- Back to Home Button -->
    <div class="back-to-home">
        <a href="/" class="back-home-btn">Back to Home</a>
    </div>
    <div class="country-page">
        <h1><%= country.name %></h1>
        <h2>Latest Election Results</h2>
        <img src="/images/<%= country.image %>" alt="<%= country.name %> Map">
        <h2>Latest News</h2>
        <h3>"The right is making it worse" says left wing reporter</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>"The right is making it better" says right wing reporter</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!-- Back to Countries Button -->
    <div class="back-to-countries">
        <a href="/countries" class="back-countries-btn">Back to Countries</a>
    </div>
    </div>
</body>
</html>
