<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Hub</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/images/electionlogo.png" alt="Election Logo">
        </div>
        <div class="menu">
            <a href="/views/countries.ejs" class="menu-item">Countries</a>
            <div class="menu-row">
                <a href="/views/news.ejs" class="menu-item">Latest Election News</a>
                <a href="/views/contact.ejs" class="menu-item">Opinion Articles</a>
            </div>
            <a href="#" class="menu-item">Contact Us</a>
        </div>
    </div>
</body>
</html>
